UID=1001
HOME=/home/abrusut
COLUMNS=80
TERM=xterm

VIRTUAL_HOSTS=./backup/virtual_hosts
VIRTUAL_HOSTS7=./backup7/virtual_hosts
APACHE_LOGS=./logs/apache2
APACHE_HTTP_PORT=80
APACHE_HTTPS_PORT=443

# Symfony
SYMFONY_APP_PATH=../public_html

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mprod_tramites_emerag
MYSQL_USER=user
MYSQL_PASSWORD=password
